<div class="event" id="message<%= message.id %>">
  <div class="label">
    <%= image_tag user_avatar(message.user) %>
  </div>
  <div class="content">
    <div class="summary">
      <a class="user">
        <%= message.user.username %>
      </a>
      <div class="date">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
    </div>
    <div class="extra text">
      <%= message.body %>
    </div>
    <div class="meta">
      <%= link_to "<i class=\"like icon\"></i> <span id=\"likeCount\">#{message.likes_count}</span> Likes".html_safe,
                  likes_path(like: { message_id: message.id }),
                  class: "like likeButton #{ 'liked' if message.liked?(current_user) }",
                  data: {turbo_method: message.liked?(current_user) ? :delete : :post}
      %>
    </div>
  </div>
</div>