<h2 class="ui center aligned icon header">
  <i class="circular inverted blue comment icon icon"></i>
  Say something to everyone!
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui bottom-started fluid raised card chatbox">
      <div class="scrollable content">
        <div class="ui small feed" id="messages-container">
          <div id="with-button">
            <%= will_paginate @messages %>
          </div>

          <% if @messages.next_page %>
            <div id="load_more_messages" class="btn btn-primary btn-lg">More messages</div>
          <% end %>
          <div id="my-messages">
            <%= render @messages %>
          </div>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: 'ui reply form', role: 'form' }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input <%= 'disabled' unless current_user %>">
              <%= f.text_field :body, placeholder: 'Write a message...' %>
              <%= f.button '<i class="chevron circle right icon"></i>'.html_safe, class: "ui blue inverted icon button", id: 'submit_message' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
