<h2 class="ui center aligned icon header">
  <i class="circular inverted blue user icon"></i>
  Forgot your password?
</h2>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %>
            <div class="ui left icon input">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              <i class="envelope icon"></i>
            </div>
          </div>

          <%= f.submit 'Send reset password mail', :class => 'ui primary big button submit-button' %>
        <% end %>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui one column grid">
        <div class="row">
          <%= link_to '<i class="chevron right icon"></i>Login'.html_safe, new_user_session_path, method: :get, class: 'ui button side-button' %>
        </div>
        <div class="row">
          <%= link_to '<i class="chevron right icon"></i>Sign up'.html_safe, new_user_registration_path, method: :get, class: 'ui button side-button' %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>